.singleWordInfoPopup {
  background-color: #dddddd;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: sans-serif;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  font-size: 14px;
}
