.singleWordInfoPopup {
  background-color: #dddddd;
  color: black;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0% 5% 0% 5%; /* top | right | bottom | left */
  font-family: sans-serif;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  font-size: 14px;
  /* max-width: 220px;
  max-height: 220px; */
  width: 25%;
  height: 250px;
  overflow-y: auto;
  /*
    TODO: when near the browser window edge this can create an element that partially spills outside of the DOM
    See: content.js --> createPopup()
  */
}

.wordListSidebar {
  background-color: #dddddd;
  color: black;
  border: 1px solid #ccc;
  padding: 15px; /* top | right | bottom | left */
  font-family: sans-serif;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  font-size: 14px;
  position: fixed;
  right: 0;
  top: 0;
  height: 99%;
  width: 23%;
  overflow-y: auto;
  z-index: 69420;
}

.modalButton {
  height: 24px;
  width: 24px;
  border-radius: 37%;
  background-color: #4cc9fa;
}

.textHeader {
  font-size: 20px;
}