.wordInfoModalPopup {
  background-color: #dddddd;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0% 5% 0% 5%; /* top | right | bottom | left */
  font-family: sans-serif;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  font-size: 14px;
  
  width: 25%;
  height: 250px;
  position: absolute;

  display: flex;
  flex-direction: column-reverse; 
  /* flex-direction: column;  */
}


.wordInfoTab {
  display: none; /* Initial invisibility */
  overflow-y: auto;
  padding: 5% 0% 5% 0%;
}


.wordInfoTabButtonContainer {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; 
  display: block;
  height: 25px;
  z-index: 5;
  background-color: rgb(195, 203, 211);
  flex-shrink: 0;
}
.wordInfoTabButtonContainer::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */ 
} 
.wordInfoTabButtonContainer {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.wordInfoTabButton {
  display: inline-block; /* Buttons flow horizontally */
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  white-space: nowrap;
  flex-grow: 1;
}


.wordListSidebar {
  background-color: #dddddd;
  color: black;
  border: 1px solid #ccc;
  padding: 15px; /* top | right | bottom | left */
  font-family: sans-serif;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  font-size: 14px;
  position: fixed;
  right: 0;
  top: 0;
  height: 99%;
  width: 23%;
  overflow-y: auto;
  z-index: 69420;
}

.modalButton {
  height: 24px;
  width: 24px;
  border-radius: 37%;
  background-color: #4cc9fa;
}

.textHeader {
  font-size: 20px;
}